p {
    font-size: 14px;
}

.proceed {
    position: relative;
    margin: 5px;
    width: 70px;
    height: 30px;
    font-size: 16px;
}

.reject {
    position: relative;
    margin: 5px;
    width: 70px;
    height: 30px;
    font-size: 16px;
}