.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Zapewnia, że stopka będzie na dole nawet przy małej ilości treści

    background-color: #f9f9f9; // Jasne tło (opcjonalnie)
    font-family: 'Inter', sans-serif; // Globalna czcionka (jeśli ustawiana lokalnie)
}

main {
    flex: 1 0 auto; // Główna zawartość rozciąga się i wypycha stopkę na dół
    padding: 2rem 1rem;
}

header,
footer {
    flex-shrink: 0;
}