<footer class="footer bg-dark text-white py-4 text-center text-sm">
    <div class="container mx-auto px-4">
        <p class="mb-1">&copy; {{ currentYear }} Paweł Staniul</p>
        <p>Full Stack Developer | Angular & .NET</p>
        <p>
            <a href="https://github.com/Pawel88PL" target="_blank" class="text-light mx-2">GitHub</a>
            |
            <a href="https://www.linkedin.com/in/pstaniuldotnet" target="_blank" class="text-light mx-2">LinkedIn</a>
            |
            <a href="mailto:pstaniul@gmail.com" class="text-light mx-2">Email</a>
        </p>
    </div>
</footer>
  