<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow p-0">
  <div class="container-fluid">

    @if (showMenuButton && authService.isLoggedIn() && authService.isAdmin()) {
      <button class="menu-button"
        type="button" (click)="onMenuButtonClick()" matTooltip="Show/Hide Admin Menu">
        &#9776;
      </button>
    }

    <a class="navbar-brand" [routerLink]="'/'">
      HOME PAGE
    </a>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        @if (!authService.isLoggedIn()) {
          <li class="nav-item">
            <a routerLink="/" class="nav-link" (click)="isMenuCollapsed = true">
              ABOUT ME
            </a>
          </li>
        }
        @if (authService.isLoggedIn() && authService.isAdmin()) {
          <li class="nav-item">
            <a routerLink="/admin" class="nav-link" (click)="isMenuCollapsed = true">
              ADMIN PANEL
            </a>
          </li>
        }
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          @if (authService.isLoggedIn()) {
            <button mat-menu-item class="user-button" disabled="true"
              (click)="isMenuCollapsed = true">
              {{ userName }}
            </button>
          }
        </li>
        <li class="nav-item">
          @if (authService.isLoggedIn()) {
            <button mat-menu-item class="user-button"
              (click)="isMenuCollapsed = true; authService.logout()">
              SIGN OUT
            </button>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>