<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark shadow p-0">
    <div class="container-fluid">

        <button *ngIf="showMenuButton && authService.isLoggedIn() && authService.isAdmin()" class="menu-button"
            type="button" (click)="onMenuButtonClick()" matTooltip="Show/Hide Admin Menu">
            &#9776;
        </button>

        <a class="navbar-brand" [routerLink]="'/'">
            HOME PAGE
        </a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto">
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <button mat-menu-item class="user-button" disabled="true" *ngIf="authService.isLoggedIn()"
                        (click)="isMenuCollapsed = true">
                        {{ userName }}
                    </button>
                </li>
                <li class="nav-item">
                    <button mat-menu-item routerLink="/" class="user-button"
                        (click)="isMenuCollapsed = true">
                        ABOUT ME
                    </button>
                </li>
                <li class="nav-item">
                    <button mat-menu-item *ngIf="authService.isLoggedIn()" class="user-button"
                        (click)="isMenuCollapsed = true; authService.logout()">
                        WYLOGUJ
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>