<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" [opened]="sidenavOpened" class="sidenav">
        <mat-card>
            <mat-card-content>
                <div class="projects">
                    <img src="./images/folders.png" alt="Projects list" class="icon" matTooltip="Projects list"
                        matTooltipPosition="below" [routerLink]="['projects']">
                    <img src="./images/add-folder.png" alt="Add project" class="icon" matTooltip="Add project"
                        matTooltipPosition="below" [routerLink]="['projects/add']">
                </div>
            </mat-card-content>
        </mat-card>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <mat-card>
            <mat-card-content>
                <router-outlet></router-outlet>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>