<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="isSmallScreen ? 'over' : 'side'" [opened]="sidenavOpened" class="sidenav bg-dark">
        <mat-nav-list>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h5>Projects</h5>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <a mat-list-item routerLink="projects">
                    Projects list
                </a>
                <a mat-list-item routerLink="projects/add">
                    Add project
                </a>
            </mat-expansion-panel>

        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>