<div class="custom-container">
    <mat-card class="loginForm">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <h2 class="text-center">
                    Logowanie
                </h2>

                <hr class="mb-5">

                <mat-form-field appearance="outline" class="mb-4">
                    <mat-label>Adres e-mail</mat-label>
                    <input matInput type="email" formControlName="username" #emailInput class="login-input">
                    <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                        Adres e-mail użytkownika jest wymagany
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('username')?.hasError('email')">
                        Niepoprawny format adresu e-mail
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="mb-4">
                    <mat-label>Hasło</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                        class="login-input">
                    <i class="icon-eye" matSuffix (mousedown)="togglePasswordVisibility(true)"
                        (mouseup)="togglePasswordVisibility(false)" (mouseleave)="togglePasswordVisibility(false)"
                        aria-label="Pokaż/ukryj hasło">
                        <i class="bi" [ngClass]="hidePassword ? 'bi-eye' : 'bi-eye-slash'"></i>
                    </i>
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                        Hasło jest wymagane
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
                        Hasło musi zawierać co
                        najmniej 6 znaków
                    </mat-error>
                </mat-form-field>

                <button class="proceed mb-3" [disabled]="isInLogginProcess || isInForgotPasswordProcess" type="submit">
                    <span *ngIf="isInLogginProcess" class="loading-spinner"></span>
                    <span *ngIf="!isInLogginProcess">
                        <h5>Zaloguj się</h5>
                    </span>
                </button>

                <button class="forget mb-3" [disabled]="isInForgotPasswordProcess || isInLogginProcess" type="button"
                    (click)="onForgotPassword()">
                    <span *ngIf="isInForgotPasswordProcess" class="loading-spinner"></span>
                    <span *ngIf="!isInForgotPasswordProcess">
                        <h5>Nie pamiętam hasła</h5>
                    </span>
                </button>

            </mat-card-content>
        </form>
    </mat-card>
</div>