.custom-container {
    margin-top: 15vh;
}

h2,
h5 {
    margin: 0;
}

.icon-eye {
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
}

.icon-eye:hover {
    color: #1976d2;
}

.forget {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px 10px;
    background: white;
    color: #1976d2;
    border: 1px solid #1976d2;
    border-radius: 5px;
}

.loading-spinner {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: white;
    animation: spin 0.8s linear infinite;
    vertical-align: middle;
}

.loginForm {
    opacity: 0;
}

.login-input {
    font-size: 1rem !important;
}

.proceed {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px 10px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
}

.forget:disabled {
    background: #e7e7e7;
    border: none;
    cursor: not-allowed;
}

.proceed:disabled {
    background: #a0a0a0;
    cursor: not-allowed;
}

.forget:hover:not(:disabled) {
    background: #e7e7e7;
}

.proceed:hover:not(:disabled) {
    background: #124d91;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    min-height: 500px;
}

mat-error {
    margin: 5px 0;
    font-size: 10px;
}

mat-form-field {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .custom-container {
        margin: 50px auto;
        padding: 0 10px;
    }

    .proceed,
    .forget {
        width: 100%;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}